
@{
    @model MVCBooking.Models.HotelBooking

    <h2>Dodaj novi booking</h2>

    <form asp-action="CreateBooking" method="post">
        <div>
            <label>Ime gosta</label>
            <input asp-for="GuestName" />
        </div>

        <div>
            <label>Broj sobe</label>
            <input asp-for="RoomNumber" />
        </div>

        <button type="submit">Spremi</button>
    </form>

    <a asp-controller="Booking" asp-action="Index">Povratak</a>

}
